@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font to all elements */
* {
    font-family: 'poppins', sans-serif; 
}

/* Header container styling */
.header_container {
   display: flex; /* Use flexbox layout to display items in row */
   justify-content: space-between; /* Align items properly */
   align-items: center;
   padding: 0px 20px; /* Add padding for right spacing */
   flex-wrap: wrap;
}

/* Logo styling */
.logo img {
   width: 180px;
   height: 180px;
}
.logo {
   margin: 0; /* Remove extra margin */
}

/* Free shipping banner styling */
.free_shipping {
   color: #FFFFFF;
   background-color: #2E7D32;
   border-radius: 20px; /* Corner Styling for border */
   text-align: center;
   padding:5px 35px 15px 15px; /* Better spacing */
}

.free_shipping h3 {
   margin:5px;
   margin-bottom: 0px;
}

/* Login button container*/
.login {
   display: flex; /* Use flexbox for layout */
   align-items: center;
   border: 1px solid #2E7D32;
   padding: 0px 15px;
   border-radius: 20px;
}

.login:hover {
   border:none;
   cursor: pointer;
}

.bxs-user-circle{
   font-size: 42px;
}

/* Text inside login button */
.login h3 {
   padding-left: 5px;  /*To Add space between icon and text */
   font-weight: bold;
}

/* Remove underline from login link */
.login a {
   text-decoration: none;
   color: black;
}
#loginForm {
   position: relative;
}

#loginForm a{
text-decoration: none;
color:black;
}

#loginForm img {
   position: absolute;
   top: 93%;
   left:25%;
}

/* Search bar styling */
.search {
   display: flex;
   align-items: center;
   border: 1px solid #2E7D32;
   border-radius: 20px; /* Corner styling */
   padding: 15px 15px; /* Adjusted padding */
   width: 250px; /* Set a proper width */
   background-color: #FFFFFF; /* Background color */
}

.bx-search {
   font-size: larger;
   color: grey;
}

.search-input {
   border: none;
   outline: none;
   padding-left: 10px;
   font-size: 16px;
   width: 100%;
}

.search-input::placeholder {
   color: grey;
}

#cart-icon img{
   width:60px;
   height:60px;
}

#cart-icon {
   position: relative;
   cursor: pointer; 
   display: inline-block; 
}

#cart-count {
   position: absolute;
   top: -5px; 
   right: 0px; 
   background-color: red; 
   color: white; 
   border-radius: 50%; 
   padding: 5px 13px; 
   font-size: 16px; 
   font-weight: bolder;
}

/* Navigation menu */
.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #2E7D32;
   height: 110px;
   padding: 0 20px;
   position: relative;
}

/* Hide menu links by default on small screens */
.menu-links {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-grow: 1;
}

/* Navigation links */
.menu-links a {
   text-decoration: none;
   color: #FFFFFF;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: bold;
}

/* Change style when hovered */
.menu-links a:hover {
  color: black;
  background-color: rgb(192, 245, 192);
  border-radius: 20px;
}

/* Toggle button (hamburger menu) */
.menu-toggle {
   display: none;
   font-size: 24px;
   cursor: pointer;
   color: #FFFFFF;
}

 /* Modal container hidden by default */
 .modal {
   display:none; /* Initially hidden */
   /* display:flex; */
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.5); /* For semi-transparent background */
   width:100%;  /*To take Full width and height*/
   height:100%;
   position:fixed; /* Fixed position on screen */
   left:0;
   top:0;
   z-index: 1000; /* To Ensure modal appears on top */
 }

 /* Modal content box styling */
 .modal_content {
   background-color: white;
   width:40%; /* Setting Modal width and height */
   height:85%;
   padding:20px; /* Padding inside */
   border:5px solid #2E7D32;
   border-radius: 30px; /* Rounded corners */
   text-align: center;
   margin:3% auto; /* Center horizontally */
 }

 /* Close button inside modal */
 .close {
   float:right; /* Positioning to the top Right */
   font-size: 30px; 
   cursor: pointer;
   border:1px solid black;
   padding:0 5px; /* Padding inside */
 }

 .input_container {
   display: flex;
   align-items: center;
   border: 1px solid #2E7D32;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 28px;
   position: relative;

}

.input_container i {
   font-size: 20px;
   color: #2E7D32;
   margin-right: 8px;
}

.input_container input {
   border: none;
   outline: none;
   width: 100%;
}

.error-message {
   color: red;
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 10px;
   display: none;
}
#loginModal h2 {
   color: green;
}


/* Button styling */
.btn {
   color:#FFFFFF;
   background-color: #2E7D32;
   border:none;
   padding:15px 35px;
   border-radius: 10px;
   font-weight: bolder;
   font-size: 15px;
   margin-top: 20px;
}
/* Form heading styling */
form h3 {
   border:1px solid #276b2a;
   display: inline;
   padding:10px 50px; /* Padding around text */
   border-radius: 10px;
   font-weight: bolder;
}

form p {
   font-weight: bolder;
}


.potHeading {
   text-decoration: underline;
   text-align: center;
   padding: 30px 0;
}

.product-list {
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
   width: 90%;
   margin: auto;
   margin-bottom: 30px;
}

.item {
   border: 1px solid #ddd;
   padding: 30px;
   text-align: center;
   border-radius: 20px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.item img {
   width: 280px;
   height: 220px;
}
.notification {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background: #4CAF50;
   color: white;
   padding: 15px;
   border-radius: 5px;
   animation: fadeIn 0.5s;
   z-index: 1000;
}

@keyframes fadeIn {
   from { opacity: 0; transform: translateY(20px); }
   to { opacity: 1; transform: translateY(0); }
}

.item button,
.modal-content button {
   background-color: green;
   color: white;
   padding: 20px 30px;
   border-radius: 20px;
   border: none;
   font-size: 20px;
}

.modalOverlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   overflow-y: auto;
}

.modal-flex img {
   width: 300px;
   height: 200px;
}

.modal-content {
   background: white;
   padding: 20px;
   margin: 3% auto;
   width: 80%;
   max-height: 80vh;
   overflow-y: auto;
}

#cartContent {
   background: white;
   padding: 20px;
   margin: 3% auto;
   width: 50%;
   max-height: 80vh;
   overflow-y: auto;
}

.border-box {
   border: 1px solid #ddd;
   padding: 10px;
   margin: 10px 0;
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: space-evenly;

}

.qty-box {
   display: flex;
   align-items: center;
   border: 2px solid black;
   padding: 15px 15px;
   width: fit-content;
   gap: 10px;
   border-radius: 20px;
}

.qty-box button {
   border-radius: 50px;
   background: none;
   color: black;
   border: 2px solid black;
   font-size: 18px;
   padding: 5px 10px;
}

.border-box img {
   width: 200px;
   height: 200px;
}

button {
   cursor: pointer;
}

.product-description-header {
   background-color: green;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.item-name {
   font-size: 40px;
   font-weight: bold;
}

.item-description {
   font-size: 24px;
}
.original-price{
   color:rgb(105, 103, 103);
}

/* Updated Flexbox Styling */
.modal-flex {
   display: flex;
   gap: 20px;
   align-items: center;
}

.modal-flex div {
   flex-grow: 1;
}

.success {
   background: rgb(134, 250, 217);
   padding: 20px;
   margin: 5% auto;
   width: 30%;
   max-height: 80vh;
   overflow-y: auto;
}

/* Footer Styling */
footer{
   display:flex; /* Flex layout to arrange in row */
   justify-content: space-around;
   padding:20px 50px;
   background-color: #2E7D32;
   color:#FFFFFF;
}

/* Footer List Items */
footer li{
   list-style: none;
   font-size: 20px;
}

footer ul{
   padding:0px;
}

.locateContent{
   margin-bottom: 10px;
}

.locateContent img{
   width:25px;
   height:25px;
}

.footerContent h3{
font-size: 22px;
}

.locateContent p{
   margin:0; /* To remove default margin */
   font-size: 20px;

}

.footerContent a{
   text-decoration: none;
   color: white;
 }

 .no-results-message {
   color: red;
   font-size: 14px;
   margin-top: 5px;
   text-align: center;
   width: 100%;
}

 /* For screens between 320px and 767px (Mobile Devices) */
@media (min-width: 320px) and (max-width: 767px) {
   /* Header adjustments */
   .header_container {
       flex-direction: column;
       align-items: center;
       text-align: center;
       gap:10px;
       margin-bottom: 10px;
    }

   .logo img {
       width: 120px;
       height: 120px;
   }

   .free_shipping {
      padding: 10px;
      width: 100%;
      font-size: 12px;
   }

   .login, .search {
      width: 90%;
   }
   #loginForm img {
      position: absolute;
      top: 92%;
      left: -1%;
  }
   /* Navigation adjustments */
   .menu {
      flex-direction: column;
      height: auto;
      padding: 10px 0;
   }
   .menu-links {
      display: none; /* Hide menu by default */
      flex-direction: column;
      width: 100%;
      background-color: #2E7D32;
      text-align: center;
      padding: 10px 0;
   }
   .menu-links a {
      padding: 10px;
      font-size: 18px;
   }
   .menu-toggle {
      display: block;
   }
   .menu.active .menu-links {
      display: flex; /* Show menu when active */
   }
   
   /* Product list adjustments */
   .product-list {
       flex-direction: column;
       gap: 20px;
   }

   .product {
       padding: 15px;
   }

   .product img {
       width: 100%;
       height: auto;
   }

   /* Modal adjustments */
   .modal_content {
      width: 75%;
      height: 82%;

      }
      .modal_content h2{
      margin:0px;
      margin-bottom: 5px;
      font-size: 20px;
      }
      #loginForm p{
         margin:5px 0;
      }
      .input_container input {
         width:65%;
         /* padding-left: 35px; */
      }
      
      .input_container img {
         left: 10%;
         top: 20%;
         width: 20px;
         height: 20px;
      }
      .input_container{
         margin-bottom: 17px;
      }
      .close{
         font-size: 16px;
      }
      .btn {
         padding: 12px 30px;
         font-size: 14px;
      }
      
      form h3 {
         padding: 0px;
         display:block;
      }

         /* Product list adjustments */
   .item {
      width: 100%; 
      gap: 20px; 
  }

  .item {
      width: 90%; 
      padding: 15px; 
  }

  .item img {
      width: 100%; 
      height: auto; 
  }
.item h4{
  margin: 0px;
  font-size: 15px;

}
.item h2{
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 20px;
}
.item button{
  padding:10px 20px;
}

.modal-flex {
   display: flex;
flex-direction: column;
}

 .modal-flex img {
      width: 150px;
      height: 118px;
      margin-top: 5px;
  }
  .product-description-header h2{
   font-size: 12px;
}

.modal-content button {
   padding: 0px 7px;
   font-size: 15px;
}
.product-name {
   font-size: 16px;
}

.qty-box{
   padding: 5px 18px;
}
.product-description {
   font-size: 13px;
}
p.product-name{
 margin-top: 0px;

}
#buyNowContent{
  padding-top: 2px;

}

#cartContent {
   width: 74%;
}
.border-box {
   flex-direction: column;
}
.border-box img {
   width: 150px;
   height: 150px;
}
.modal-content h2{
   margin: 0px;
}
.border-box p{
   margin:0px;
}
.cart-section img {
   width: 50px;
}

button.add-to-cart-btn,button.productClose  {
   padding:5px 15px;
}

   /* Footer adjustments */
   footer {
      flex-wrap: wrap; /* Allow items to wrap if needed */
      justify-content: space-between;
      padding: 20px 40px;
   }
   
   .footerContent {
      width: 45%; /* Two columns layout */
      margin-bottom: 20px;
   }
   
   .footerContent h3 {
      font-size: 22px;
   }
   
   footer li,
   .locateContent p {
      font-size: 16px;
      }
}

/* For screens between 768px and 1023px (Tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
   /* Header adjustments */
   .header_container {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .logo img {
       width: 150px;
       height: 150px;
   }

   .free_shipping {
      font-size: 14px;
      padding: 10px 20px;
   }

   .login, .search {
      margin-bottom: 20px;
   }
   #loginForm img {
      position: absolute;
      top: 93%;
      left: 22%;
  }
   /* Navigation adjustments */
   .menu {
      flex-wrap: wrap;
      justify-content:space-evenly;
      height: auto;
      padding: 15px 0;
  }
   .menu-links a {
      padding: 10px 18px;
      font-size: 15px;
  }  

  #cartContent {
   width: 89%;
}
.input_container input {
   width: 80%;
}

.input_container img {
   left: 6%;
   top: 20%;
   width: 22px;
   height: 22px;
}

.btn {
   padding: 14px 32px;
   font-size: 15px;
}

form h3 {
   padding: 10px 40px;
}

   /* Product list adjustments */
   .product-list {
       gap: 30px;
   }

   .item {
      width: 37%; 
      gap: 40px; 
  }

   .item img {
       width: 220px;
       height: 170px;
   }
   .product-description {
      font-size: 20px;
  }
   /* Modal adjustments */
   .modal_content {
      width: 60%;
      height: auto;
   }
   
   .modal-flex img {
       width: 250px;
       height: 180px;
   }

   /* Footer adjustments */
   footer {
      flex-wrap: wrap; /* Allow items to wrap if needed */
      justify-content: space-around;
      padding: 20px 40px;
   }
   
   .footerContent {
      width: 45%; /* Two columns layout */
      margin-bottom: 20px;
   }
   
   .footerContent h3 {
      font-size: 22px;
   }
   
   footer li,
   .locateContent p {
      font-size: 18px;
   }
   }

/* For screens between 1024px and 1300px (Small Desktops and Laptops) */
@media (min-width: 1024px) and (max-width: 1300px) {
   /* Header adjustments */
   .header_container {
      flex-wrap: nowrap;
      gap:45px;
   }
   .free_shipping {
      margin-bottom: 20px;
   }

   .logo img {
       width: 160px;
       height: 160px;
   }

   .free_shipping {
      font-size: 16px;
      }

      .login, .search {
         width: auto;
      }
      .modal_content {
         height: 60%;
      }
   
      #loginForm img {
         position: absolute;
         top: 93%;
         left: 28%;
     }
   /* Navigation adjustments */
   .menu-links a {
       padding: 10px 20px;
       font-size: 20px;
   }

   /* Product list adjustments */
   .product-list {
       gap: 40px;
   }

   .item {
       padding: 30px;
       max-width: 213px;
   }

   .item img {
       width: 218px;
       height: 206px;
   }

   /* Modal adjustments */
   .modal_content {
       width: 60%;
   }

   .modal-flex img {
       width: 300px;
       height: 200px;
   }
   #cartContent {
      width: 87%;
  }
   /* Footer adjustments */
   footer {
       padding: 20px 50px;
   }
}